body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  height: 100%;
  overflow-x: hidden;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

header a {
    text-decoration: none; /* Remove o sublinhado */
    color: #bf953f; /* Cor dourada base */
    font-family: 'Fugaz One', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid #bf953f; /* Borda dourada fina */
    border-radius: 5px;
    transition: all 0.3s ease;
    align-self: center; /* Alinha verticalmente com o H1 */
}

header a:hover {
    background-color: #bf953f; /* Inverte a cor no hover */
    color: black;
    box-shadow: 0 0 10px rgba(191, 149, 63, 0.5);
    transform: scale(1.05);
}


h1 {
  text-align: center;
  font-size: 28px;
  font-family: 'Fugaz One', sans-serif;
}

h1 span {
  color: gold;
  font-family: 'Fugaz One', sans-serif;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 20px;
  max-width: 97%;
}

.card {
  background: #1a1a1a;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #333; /* Borda sutil para definir o card no fundo preto */
    position: relative;
    overflow: hidden; 
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); /* Transição suave e moderna */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
}

.card:hover {
    transform: translateY(-10px); /* O card sobe levemente */
    border-color: #bf953f; /* A borda fica dourada */
    box-shadow: 0 15px 30px rgba(191, 149, 63, 0.3); /* Brilho dourado suave */
    cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.card h3 {
    font-family: 'Fugaz One', sans-serif;
    color: #fff;
    margin: 15px 0 5px 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}

.card p {
    color: #bf953f; /* Cor dourada para os recordes (v/d) */
    font-weight: bold;
    font-size: 0.9rem;
    margin: 5px 0;
}

.card span {
    display: block;
    color: #888;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); /* vai ficando preta na base */
    pointer-events: none;
}

section {
  width: 100%;
  height: 100vh;
}


.fundo {
  background-image: url("../img/octogono_preto.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 15vh;
  height: max-content;
}

.fundo select {
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
  background-color: #2c2c2c;
  color: #fcf6ba;
  border: 1px solid #aa771c;
}

.fundo button {
  background: linear-gradient(45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.fundo button:hover {
  background-position: 100% 50%;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(184, 134, 11, 0.4);
  color: black;
}

.fundo button:active {
  transform: translateY(0);
}



.topo-lutadores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.lado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lado img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.vs {
  font-size: 40px;
  font-weight: bold;
  color: gold;
}

.atributo {
  margin: 10px 0;
  font-family: Arial;
  color: #333;
}

.barra {
  width: 100%;
  height: 12px;
  background: black;
  border-radius: 10px;
}

.valor {
  height: 100%;
  background: #d4af37;
  width: 0%;
  transition: width 0.5s ease-in-out;
  border-radius: 5px;
}

.linha {
  margin: 8vh;
}

.lados {
  display: flex;
  gap: 20px;
}

.back-groud-cards {
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10px;
  width: 50%;
}

.selects {
  display: flex;
  justify-content: center;
  gap: 140px;
}

.topo-lutadores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card-lutador {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 15px black;
}

.card-lutador img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-lutador h3 {
  margin: 10px 0 5px;
  color: gold;
}

.card-lutador p {
  font-size: 14px;
  color: #ccc;
}

.vs {
  font-size: 50px;
  font-weight: bold;
  color: gold;
}

#resultado{
    text-align: center;
    color: rgb(10, 219, 21);
    font-size: 40px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif
}